services:
  # 1. MySQL Veritabanı (3308 Portunda)
  db:
    image: mysql:8.0
    container_name: auth-db
    environment:
      MYSQL_DATABASE: auth_service
      MYSQL_ROOT_PASSWORD: 1907Fener
    ports:
      - "3308:3306"
    volumes:
      - auth_mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. Backend (Java Spring Boot)
  backend:
    build: .  # Bu dosya backend klasörünün içinde olduğu için nokta (.) kalıyor
    container_name: auth-backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/auth_service?useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - DB_PASSWORD=1907Fener
      - JWT_SECRET_KEY=ed746bfa81754756b619edc0a70d3cfa6ac0bfc60710d9d2e0cd3d43bcc8969a
      - GMAIL_USER=gorkem1928karagoz@gmail.com
      - GMAIL_APP_PASS=spnvahsicuytbwmo

  # 3. Frontend (React + Vite) - YENİ EKLENDİ!
  frontend:
    build: ../auth-frontend  # Bir üst klasöre çıkıp auth-frontend'e gir diyoruz
    container_name: auth-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend # Backend açılmadan frontend başlamasın (opsiyonel ama şık)

volumes:
  auth_mysql_data: